.container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-size: 40px;
    font-weight: 400;
    color: white;
    position: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form_container {
    flex-direction: column;
    display: flex;
    width: 80vw;
    height: 75vh;
    background-color: white;
    box-shadow: 3px 4px 36px -6px rgba(0,0,0,0.4);
    border-radius: 50px;
    background-image: url('/public/images/loginBG.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-align: center;
}

.profile_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.input {
    width: 320px;
    height: 35px;
    padding: 5px;
    outline: none;
    border: 1px solid #2c444e;
    border-radius: 2px;
    font-size: 13px;
}

.btn {
    font-size: 18px;
    font-weight: 500;
    padding: 12px 25px;
    color: white;
    background-color: darkslategray;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: black;
}

.text {
    font-size: 14px;
    color: #2c444e;
    margin: 5px 0;
    padding: 0;
}

.text > a{
    font-size: 16px;
    font-weight: 500;
    color: #ffc801;
}